<!DOCTYPE html>

<html>
	<head>
		<title>living sideways</title>
	</head>

	<style type="text/css">
		body {
			font-family: sans-serif;
			width: 800px;
			margin: 0 auto;
			padding: 10px;
		}
		textarea {
			width: 400px;
			height: 200px;
			font-size: 17px;
		}
		.error {
			color: red;
		}
	</style>

	<body>
		<a href = "https://teak-catalyst-190903.appspot.com/blog"><h1>living sideways.</h1></a>
		<hr>

		{% block content %}
		{% endblock %}

		<hr>
		<h6>nathan chang</h6>
	</body>

</html>