<form method = "post">
    <h2><b>Signup</b></h2>
    <table>
      <tbody>
        <tr>
        <td><label>Username</label></td>
        <td><input type="text" name="username" value="{{username}}"></td>
        <td><div style="color: red">{{usererror}}</div></td>
        </tr>
        
        <tr>
        <td><label>Password</label></td>
        <td><input type="password" name="password" value="{{password}}"></td>
        <td><div style="color: red">{{passerror}}</div></td>
        </tr>
        
        <tr>
        <td><label>Verify Password</label></td>
        <td><input type="password" name="verify" value="{{verify}}"></td>
        <td><div style="color: red">{{verifyerror}}</div></td>
        </tr>
        
        <tr>
        <td><label>Email (optional)</label></td>
        <td><input type = "text" name = "email" value="{{email}}"></td>
        <td><div style = "color: red">{{emailerror}}</div></td>
        </tr>
      </tbody>
    </table>
    
    <input type = "submit">
</form>